html { 
  height: 100% 
}
body { 
  margin: 0; 
  padding: 0; 
  height: 100% ;
}
.side-drawer { 
  /* width: 33%; */
  background: #1E213A;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
  /* Initial transforms */
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.side-drawer.open {
  transform: translateX(0);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .side-drawer{
    width: 68%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .side-drawer{
    width: 58%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .side-drawer{
    width: 53%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .side-drawer{
    width: 33%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .side-drawer{
    width: 33%;
  }

}
